<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div id="main">
            <div class="offerbox">
                <div class="offercont">
                    <p>Free delivery on Orders About Rs.1000</p>
                </div>
            </div>
            <div class="bulkorderbox">
                <div class="bulkordercont">
                    <p class="bulkorderfont">Bulk Order Inquiries :</p>
                    &nbsp;<button class="bulkorderbutton">Click here</button>
                   </div>
            </div>
            <div class="navbar">
               
                <div class="logo" > <img src="/assets/images/logo2.svg" > </div>
               <mat-icon class="icons">phone</mat-icon> 
               <mat-icon class="icons">menu</mat-icon> 
            </div>

            <div class="herosection">
                <div class="heropart">
                    <!-- <div class="herosectionimg">
                        <img src="/assets/images/image2.webp" >
                    </div> -->
                    <!-- <div class="herosectioncont">
                        <p>100% Fresh and Organic
                            Spices.<br><span>We deliver organic spices</span></p>
                    </div> -->
                    <!-- <div class="herosectionimg">
                        <img src="/assets/images/image4.jpg" >
                    </div> -->
                </div>
             </div>
             <div class="catagoriescontainer">
                <div class="catagoriesfont">
                 <p>Catagories :</p>
                </div>
                <!-- <div class="catagoriesbox" > -->
                              <div class="cards-container">
                                <div class="button button-left" (click)="onSwipeLeft()">&lt;</div>
                                <mat-card class="card" *ngFor="let card of cards.slice(currentCardIndex, currentCardIndex + 2)">
                                  <mat-card-title-group class="one">
                                    <img src="{{card.image}}">
                                  </mat-card-title-group>
                                  <mat-card-title-group class="second">
                                    {{card.spices}}
                                  </mat-card-title-group>
                                  <mat-card-title-group class="three">
                                    <button>{{card.button}}</button>
                                  </mat-card-title-group>
                                </mat-card>
                                <div class="button button-right" (click)="onSwipeRight()">&gt;</div>
                              </div>
                <!-- </div> -->
              </div>




              <div class="productcontainer">
                <div class="catagoriesfont">
                 <p>Our products :</p>
                </div>
                <div class="catagoriesbox" >
                    <div class="productfont">
                        <p>Cardamom:</p>
                       </div>
                              <div class="product-container">
                                <div class="button button-left" (click)="onSwiperLeft()">&lt;</div>
                                <mat-card class="cardamomcard" *ngFor="let cardamomcard of cardamomcard.slice(currentCardamomcardIndex, currentCardamomcardIndex + 2)">
                                    <mat-card-title-group class="cardamomimg">
                                        <img  src="{{cardamomcard.image}}">
                                    </mat-card-title-group>
                                    <mat-card-title-group class="namelist">
                                        <mat-card-title-group class="name">{{cardamomcard.name}}
                                    </mat-card-title-group>       
                                    <mat-card-title-group class="grade"> {{cardamomcard.grade}}
                                    </mat-card-title-group>    
                                </mat-card-title-group>    
                                <mat-card-title-group class="pricelist">
                                    <mat-card-title-group class="price">
                                      <img  src="assets/images/rupee.png"> {{cardamomcard.price}}
                                    </mat-card-title-group>     
                                    <mat-card-title-group class="weight"> {{cardamomcard.weight}}   
                                    </mat-card-title-group> 
                                          
                                </mat-card-title-group>   
                                <mat-card-title-group class="enquirebutton">
                                    <button >{{cardamomcard.button}}</button>
                                </mat-card-title-group>     
                            </mat-card>     
                                          
                            <div class="button button-right" (click)="onSwiperRight()">&gt;</div>         
                        </div>  
                        
                        <div class="tea-catagories" >
                        <div class="productfont">
                            <p>Cardamom:</p>
                           </div>
                                  <div class="product-container">
                                    <div class="button button-left" (click)="onSwiperrLeft()">&lt;</div>
                                    <mat-card class="teacard" *ngFor="let teacard of teacard.slice(currentTeacardIndex, currentTeacardIndex + 2)">
                                        <mat-card-title-group class="cardamomimg">
                                            <img  src="{{ teacard.image}}">
                                        </mat-card-title-group>
                                        <mat-card-title-group class="productnamelist">
                                            {{ teacard.name}}
                                       
                                    </mat-card-title-group>    
                                    <mat-card-title-group class="pricelist">
                                        <mat-card-title-group class="price">
                                          <img  src="assets/images/rupee.png"> {{ teacard.price}}
                                        </mat-card-title-group>     
                                        <mat-card-title-group class="weight"> {{ teacard.weight}}   
                                        </mat-card-title-group> 
                                              
                                    </mat-card-title-group>   
                                    <mat-card-title-group class="enquirebutton">
                                        <button >{{ teacard.button}}</button>
                                    </mat-card-title-group>     
                                </mat-card>     
                                              
                                <div class="button button-right" (click)="onSwiperrRight()">&gt;</div>         
                            </div>
                        </div>
                        <div class="coffee-catagories" >
                            <div class="productfont">
                                <p>Cardamom:</p>
                               </div>
                                      <div class="product-container">
                                        <!-- <div class="button button-left" (click)="onSwiperLeft()">&lt;</div> -->
                                        <mat-card class=" coffeecard" *ngFor="let coffeecard of coffeecard">
                                            <mat-card-title-group class="cardamomimg">
                                                <img  src="{{coffeecard.image}}">
                                            </mat-card-title-group>
                                            <mat-card-title-group class="productnamelist">
                                            {{coffeecard.name}}
                                                 
                                        </mat-card-title-group>    
                                        <mat-card-title-group class="pricelist">
                                            <mat-card-title-group class="price">
                                              <img  src="assets/images/rupee.png"> {{coffeecard.price}}
                                            </mat-card-title-group>     
                                            <mat-card-title-group class="weight"> {{coffeecard.weight}}   
                                            </mat-card-title-group> 
                                                  
                                        </mat-card-title-group>   
                                        <mat-card-title-group class="enquirebutton">
                                            <button >{{coffeecard.button}}</button>
                                        </mat-card-title-group>     
                                    </mat-card>     
                                                  
                                    <!-- <div class="button button-right" (click)="onSwiperRight()">&gt;</div>          -->
                                </div>
                            </div>

                            <div class="betelnuts-catagories" >
                                <div class="productfont">
                                    <p>Betel nuts:</p>
                                   </div>
                                          <div class="product-container">
                                            <!-- <div class="button button-left" (click)="onSwiperLeft()">&lt;</div> -->
                                            <mat-card class=" betelnutscard" *ngFor="let betelnutscard of betelnutscard">
                                                <mat-card-title-group class="cardamomimg">
                                                    <img  src="{{betelnutscard.image}}">
                                                </mat-card-title-group>
                                                <mat-card-title-group class="productnamelist">
                                                {{betelnutscard.name}}
                                                     
                                            </mat-card-title-group>    
                                            <mat-card-title-group class="pricelist">
                                                <mat-card-title-group class="price">
                                                  <img  src="assets/images/rupee.png"> {{betelnutscard.price}}
                                                </mat-card-title-group>     
                                                <mat-card-title-group class="weight"> {{betelnutscard.weight}}   
                                                </mat-card-title-group> 
                                                      
                                            </mat-card-title-group>   
                                            <mat-card-title-group class="enquirebutton">
                                                <button >{{betelnutscard.button}}</button>
                                            </mat-card-title-group>     
                                        </mat-card>     
                                                      
                                        <!-- <div class="button button-right" (click)="onSwiperRight()">&gt;</div>          -->
                                    </div>
                                </div>

                                <div class="betelnuts-catagories" >
                                    <div class="productfont">
                                        <p>Betel nuts:</p>
                                       </div>
                                              <div class="product-container">
                                                <!-- <div class="button button-left" (click)="onSwiperLeft()">&lt;</div> -->
                                                <mat-card class=" betelnutscard" *ngFor="let betelnutscard of betelnutscard">
                                                    <mat-card-title-group class="cardamomimg">
                                                        <img  src="{{betelnutscard.image}}">
                                                    </mat-card-title-group>
                                                    <mat-card-title-group class="productnamelist">
                                                    {{betelnutscard.name}}
                                                         
                                                </mat-card-title-group>    
                                                <mat-card-title-group class="pricelist">
                                                    <mat-card-title-group class="price">
                                                      <img  src="assets/images/rupee.png"> {{betelnutscard.price}}
                                                    </mat-card-title-group>     
                                                    <mat-card-title-group class="weight"> {{betelnutscard.weight}}   
                                                    </mat-card-title-group> 
                                                          
                                                </mat-card-title-group>   
                                                <mat-card-title-group class="enquirebutton">
                                                    <button >{{betelnutscard.button}}</button>
                                                </mat-card-title-group>     
                                            </mat-card>     
                                                          
                                            <!-- <div class="button button-right" (click)="onSwiperRight()">&gt;</div>          -->
                                        </div>
                                    </div>
                </div>
              </div>
              
              <div class="backtotop-box">
                <div class="backtotop-font">
                    <p>Back to top</p>
                </div>
            </div>
            <div class="footer">
                <div class="footer-cont1">
                    <mat-card-title-group class="footer-logo">
                        <img  src="/assets/images/logo2.svg">
                        <p>100% Fresh and Organic  spices.</p>
                    </mat-card-title-group>
                </div>
                <div class="footer-cont2">
                </div>
                <div class="footer-cont3">
                </div>
            </div>

        </div>
    </body>
</html>
