<html>
    <head>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <!-- <mat-card class="example-card">
           
            <img style="border-radius: 50%;height: 22vh;width: 9vw;background-color: rgb(114, 221, 140);" mat-card-image src="assets/images/image1.jpg" alt="Cardamom">
            <mat-card-content style="background-color: rgb(213, 226, 226);">
              <p>
               Cardamom
              </p>
            </mat-card-content>
           
              <button mat-button style="background-color: rgb(171, 223, 223); height:4.5vh; width: 7vw; text-align: center;align-items:center;">Shop now</button>
            
          </mat-card>

          <mat-card style="height: 25vh; width: 8vw;margin-top: 30px;display: flex;flex-direction: column;align-items: center;">
            <img style="border-radius: 50%;height: 12vh;width: 6vw;background-color: rgb(114, 221, 140);" mat-card-image src="assets/images/image1.jpg" alt="Cardamom">
            <mat-card-content style="border: 1px solid rgba(127, 127, 127, 0.4); height:6vh; width: 7vw; text-align: center;align-items:center;
            border-radius: 3px;"> <p style="font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                /* identical to box height */
                
                
                color: #7F7F7F;">
                Cardamom
               </p ></mat-card-content>
               <button mat-button style="background-color: rgb(171, 223, 223); height:6vh; width: 7vw; text-align: center;align-items:center;font-family: 'Roboto';
               font-style: normal;
               font-weight: 400;
               font-size: 14px;
               line-height: 16px;
               /* identical to box height */
               
               display: flex;
               align-items: center;
               
               color: #FFFFFF;">Shop now</button>
          </mat-card> -->


          <!-- <mat-card class="mat-card">
            <img mat-card-image src="assets/images/image1.jpg">
            <mat-card-content>
              <p mat-card-subtitle>Cardamom</p>
              <button mat-raised-button color="primary">Shop Now</button>
            </mat-card-content>
          </mat-card> -->
<mat-card class="mat-card">
    <mat-card-title-group class="one">
        <img  src="assets/images/image1.jpg">
    </mat-card-title-group>
          <mat-card-title-group class="second">
            Cardamom
           
        </mat-card-title-group>
        <mat-card-title-group class="three">
            <button >Shop now</button>
        </mat-card-title-group>
        
          </mat-card>



          


          <mat-card class="catagories">
            <mat-card-title-group class="cardamomimg">
                <img  src="assets/images/image1.jpg">
            </mat-card-title-group>
                  

                <mat-card-title-group class="namelist">
                  <mat-card-title-group class="name">
                    Cardamom
                    
                </mat-card-title-group>
                <mat-card-title-group class="grade">
                  A grade
                  
              </mat-card-title-group>
                  
                </mat-card-title-group>
                <mat-card-title-group class="pricelist">
                  <mat-card-title-group class="price">
                    <img  src="assets/images/rupee.png"> 1400
                    
                </mat-card-title-group>
                <mat-card-title-group class="weight">
                  
                  1 Kg
              </mat-card-title-group>
                  
                </mat-card-title-group>
               
                <mat-card-title-group class="enquirebutton">
                    <button >Enquire</button>
                </mat-card-title-group>
                
                  </mat-card>

                  <div class="wrapper">
                    <div class="one">One</div>
                    <div class="two">Two</div>
                    <div class="three">Three</div>
                    <div class="four">Four</div>
                    <div class="five">Five</div>
                    <!-- <div class="six">Six</div> -->
                  </div>
                  

                  <div class="footer-cont4">
                    <mat-card-title-group class="contact-box">
                      <p>Contact us:</p>
                      
                        <div class="address-section">
                          <mat-icon>home</mat-icon>
                          <p>ABINPAUL E-COMMERCE PVT. LIMITED.
                            309 Shanti Mall, Satadhar Cross Road, 
                            Sola Road, Gudalur, Kerala 380061</p>
                        </div>
                        <div class="number-section">
                          <mat-icon>phone</mat-icon>
                          <p>9807654321
                             9087654321
                          </p>
                        </div>
                        <div class="mail-section">
                          <mat-icon>mail</mat-icon>
                          <p>abinpaul@gmail.com</p>
                        </div>
                     
                    </mat-card-title-group>
                    </div>
                 
                 <div class="hero-section">
  <!-- <div class="hero-content"> -->
    <!-- <h1>100% Fresh and Organic
      Spices.</h1>
    <p>We deliver organic spices</p>
  </div> -->
  <div class="hero-image">
    <img src="assets/images/hero_section.svg" alt="Hero Image">
  </div>
</div> 
                  
                  
                  
<mat-card class="card">
  <mat-card-title-group class="card-img">
      <img  src="assets/images/image1.jpg">
  </mat-card-title-group>
        <mat-card-title-group class="card-cat">
          Cardamom
         
      </mat-card-title-group>
      <mat-card-title-group class="card-button">
          <button >Shop now</button>
      </mat-card-title-group>
      
        </mat-card>            
               
        
        <div class="catagoriesbox" >
          <div class="productfont">
              <p>Cardamom:</p>
             </div>

             
                    <div class="product-container">
                      <div class="button button-left" (click)="onSwiperLeft()">&lt;</div>
                      <mat-card class="cardamomcard" *ngFor="let cardamomcard of cardamomcard.slice(currentCardamomcardIndex, currentCardamomcardIndex + 2)">
                          <mat-card-title-group class="cardamomimg">
                              <img  src="{{cardamomcard.image}}">
                          </mat-card-title-group>
                          <mat-card-title-group class="namelist">
                              <mat-card-title-group class="name">{{cardamomcard.name}}
                          </mat-card-title-group>       
                          <mat-card-title-group class="grade"> {{cardamomcard.grade}}
                          </mat-card-title-group>    
                      </mat-card-title-group>    
                      <mat-card-title-group class="pricelist">
                          <mat-card-title-group class="price">
                            <img  src="assets/images/rupee.png"> {{cardamomcard.price}}
                          </mat-card-title-group>     
                          <mat-card-title-group class="weight"> {{cardamomcard.weight}}   
                          </mat-card-title-group> 
                                
                      </mat-card-title-group>   
                      <mat-card-title-group class="enquirebutton">
                          <button >{{cardamomcard.button}}</button>
                      </mat-card-title-group>     
                  </mat-card>     
                                
                  <div class="button button-right" (click)="onSwiperRight()">&gt;</div>         
              </div>

               

              </div>  
                  
    </body>
</html>
