*{
    margin: 0;
    padding: 0;
}
#main{
     width: 100vw;
     height: 100vh;
     display: flex;
     /* background: rgba(240, 226, 107, 0.8); */
     flex-direction: column;
}
.offerbox{
    width: 100vw;
    height: 33px;
    background: rgba(80, 160, 84, 0.8);
    position: relative;
}
.offercont{
    width: 100vw;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.offerfont{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
}
.bulkorderbox{
    width: 100vw;
    height: 33px;
    position: relative;
   
}
.bulkordercont{
    width: 197px;
    height: 20px;
  
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content:left;
    align-items:flex-start;
    top: 6px;
    left: 6px;
}
.bulkorderfont{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7F7F7F;
    text-align:start;
    padding: 2px;
}
.bulkorderbutton{
  text-align: center;
  /* display: inline-block; */
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #50A054; 
  border: 1px solid #50A054;
  padding: 2px;
  font-family: 'Roboto';
  font-weight: 500;
}
.bulkorderbutton:hover {
    background-color: #50A054;
    color: white;
  }
.navbar{
    display: flex;
flex-direction: row;
align-items: center;
/* padding: 10px 21px;
gap: 45px;

position: absolute; */
width: 100vw;
height: 67px;
/* left: 0px;
top: 66px; */
background-color: #50A054;
}
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }